@model PersonManager.Models.employee

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Thêm nhân viên</h3></div>
                    <div class="card-body">
                        <form>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền họ và tên" } })
                                <label for="fullname">Họ và tên</label>
                                @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="gender">Giới tính</label>
                                @Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền ngày sinh" } })
                                <label for="birthday">Ngày sinh</label>
                                @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền email" } })
                                <label for="email">Email</label>
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền số điện thoại" } })
                                <label for="phone">Số điện thoại</label>
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền địa chỉ" } })
                                <label for="address">Địa chỉ</label>
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.joindate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền ngày vào công ty" } })
                                <label for="joindate">Ngày vào công ty</label>
                                @Html.ValidationMessageFor(model => model.joindate, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="status">Trạng thái</label>
                                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.department_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền mã bộ phận" } })
                                <label for="department_id">Mã bộ phận</label>
                                @Html.ValidationMessageFor(model => model.department_id, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.position_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền mã chức vụ" } })
                                <label for="position_id">Mã chức vụ</label>
                                @Html.ValidationMessageFor(model => model.position_id, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.user_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền mã người dùng" } })
                                <label for="user_id">Mã người dùng</label>
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.contract_Id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền mã hợp đồng" } })
                                <label for="contract_Id">Mã hợp đồng</label>
                                @Html.ValidationMessageFor(model => model.contract_Id, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="department_id">Department</label>
                                <select id="department_id" name="DepartmentId">
                                    @foreach (var department in ViewBag.Departments)
                                    {
                                        <option value="@department.Value">@department.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="position_id">Position</label>
                                <select id="position_id" name="PositionId">
                                    @foreach (var position in ViewBag.Positions)
                                    {
                                        <option value="@position.Value">@position.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="mt-4 mb-0">
                                <div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Xác nhận"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    @Html.ActionLink("<Quay lại", "Index", null, new { @style = "color: #fff; width: 100px; margin: 0 14px", @class = "btn btn-primary" })
</div>


