@model PersonManager.Areas.Admin.Models.EmployeeViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Cập nhật</h3></div>
                    <div class="card-body">
                        <form>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền họ và tên", @required = true } })
                                <label for="fullname">Họ và tên</label>
                                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="gender">Giới tính</label>
                                <select id="gender" name="Gender" class="form-control">
                                    @if (Model.Gender == true)
                                    {
                                        <option value="true" selected>Nam</option>
                                        <option value="false">Nữ</option>
                                    }
                                    else
                                    {
                                        <option value="true">Nam</option>
                                        <option value="false" selected>Nữ</option>
                                    }
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền ngày sinh", @required = true } })
                                <label for="birthday">Ngày sinh</label>
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền email", @required = true } })
                                <label for="email">Email</label>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền số điện thoại", @required = true } })
                                <label for="phone">Số điện thoại</label>
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền địa chỉ", @required = true } })
                                <label for="address">Địa chỉ</label>
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điền ngày vào công ty", @required = true } })
                                <label for="joindate">Ngày vào công ty</label>
                                @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="status">Trạng thái</label>
                                <select id="status" name="Status" class="form-control">
                                    @if (Model.Status == true)
                                    {
                                        <option value="true" selected>Còn Làm</option>
                                        <option value="false">Nghỉ việc</option>
                                    } else
                                    {
                                        <option value="true">Còn Làm</option>
                                        <option value="false" selected>Nghỉ việc</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="DepartmentId">Bộ phận</label>
                                <select id="DepartmentId" name="department_id" class="form-control">
                                    @foreach (var department in ViewBag.Departments)
                                    {
                                        if (@department.Value == Model.DepartmentId.ToString())
                                        {
                                            <option value="@department.Value" selected>@department.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@department.Value">@department.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="PositionId">Chức vụ</label>
                                <select id="PositionId" name="position_id" class="form-control">
                                    @foreach (var position in ViewBag.Positions)
                                    {
                                        if (@position.Value == Model.PositionId.ToString())
                                        {
                                            <option value="@position.Value" selected>@position.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@position.Value">@position.Text</option>

                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ContractId">Hợp đồng</label>
                                <select id="ContractId" name="contract_id" class="form-control">
                                    @foreach (var contract in ViewBag.Contracts)
                                    {
                                        if (@contract.Value == Model.ContractId.ToString())
                                        {
                                            <option value="@contract.Value" selected>@contract.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@contract.Value">@contract.Text</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="mt-4 mb-0">
                                <div class="d-grid"><input type="submit" class="btn btn-primary btn-block" value="Xác nhận"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    @Html.ActionLink("<Quay lại", "Index", null, new { @style = "color: #fff; width: 100px; margin: 0 14px", @class = "btn btn-primary" })
</div>


