@model PersonManager.Areas.Admin.Models.EmployeeViewModel

@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body" style="background-color: var(--bs-card-cap-bg)">Thông tin chi tiết</div>
    <div class="card-footer d-flex align-items-center justify-content-between" style="background-color: #fff">
        <dl class="dl-horizontal">

            <dt>
                Mã nhân viên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                Họ và tên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fullname)
            </dd>

            <dt>
                Giới tính
            </dt>

            @if (Model.Gender == true)
            {
                <dd>
                    Nam
                </dd>
            }
            else
            {
                <dd>
                    Nữ
                </dd>
            }

            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Số điện thoại
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                Địa chỉ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                Ngày sinh
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>

            <dt>
                Ngày vào công ty
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JoinDate)
            </dd>

            <dt>
                Trạng thái
            </dt>

            @if (Model.Status == true)
            {
                <dd>Còn làm</dd>
            }
            else
            {
                <dd>Nghỉ việc</dd>
            }

            <dt>
                Bộ phận
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>

            <dt>
                Chức vụ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PositionName)
            </dd>

            <dt>
                Tài khoản
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                Hợp đồng
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContractName)
            </dd>


        </dl>
    </div>
</div>

<p>
    <div class="row">
        @Html.ActionLink("<Quay lại", "Index", null, new { @style = "color: #fff; width: 100px; margin: 0 14px;", @class = "btn btn-primary" })
        @Html.ActionLink("Cập nhật", "Edit", null, new { id = Model.Id }, new { id = Model.Id, @style = "color: #fff; width: 100px", @class = "btn btn-primary" })
    </div>
</p>