@model List<PersonManager.Areas.Admin.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách nhân viên
    </div>
    @Html.ActionLink("Tạo mới", "Create", null, new { @style = "color: #fff; width: 100px; margin: 16px", @class = "btn btn-primary" })
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Bộ phận</th>
                    <th>Chức vụ</th>
                    <th>Hợp đồng</th>
                    <th>Tài khoản</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Bộ phận</th>
                    <th>Chức vụ</th>
                    <th>Hợp đồng</th>
                    <th>Tài khoản</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var emp in Model)
                {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Fullname</td>
                    @if (@emp.Gender == true)
                    {
                        <td>
                            Nam
                        </td>
                    }
                    else
                    {
                        <td>
                            Nữ
                        </td>
                    }
                    <td>@emp.DepartmentName</td>
                    <td>@emp.PositionName</td>
                    <td>@emp.ContractName</td>
                    <td>@emp.UserName</td>
                    @if (@emp.Status == true)
                    {
                        <td>Còn làm</td>
                    }
                    else
                    {
                        <td>Nghỉ việc</td>
                    }
                    <td>
                        @Html.ActionLink("Cập nhật", "Edit", new { id = emp.Id }) |
                        @Html.ActionLink("Chi tiết", "GetEmployee", new { id = emp.Id }) |
                        @Html.ActionLink("Xóa", "DeleteEmployee", new { id = emp.Id }) |
                        @Html.ActionLink("Thêm tài khoản", "Create", "User", new { id = emp.Id }, null)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>




