@model IEnumerable<PersonManager.Areas.Admin.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách tài khoản
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Mã vai trò</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Mã vai trò</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    @foreach (var role in ViewBag.Roles)
                    {
                        if (@role.Value == @item.RoleId.ToString())
                        {
                            <td>
                                @role.Text
                            </td>
                        }
                    }

                    <td>
                        @Html.ActionLink("Cập nhật", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
