@model IEnumerable<PersonManager.Areas.Admin.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách người dùng
    </div>
    <button type="button" class="btn btn-primary" style=" width: 100px; margin: 16px;">
        @Html.ActionLink("Tạo mới", "Create", null, new { @style = "color: #fff;" })
    </button>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Tên người dùng</th>
                    <th>Mật khẩu</th>
                    <th>Mã chức vụ</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Tên người dùng</th>
                    <th>Mật khẩu</th>
                    <th>Mã chức vụ</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleId)
                        </td>
                        <td>
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
