@model PersonManager.Areas.Admin.Models.LeaveViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body" style="background-color: var(--bs-card-cap-bg)">Thông tin chi tiết</div>
    <div class="card-footer d-flex align-items-center justify-content-between" style="background-color: #fff">
        <dl class="dl-horizontal">

            <dt>
                Mã nhân viên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee_id)
            </dd>

            <dt>
                Ngày nghỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Leave_date)
            </dd>

            <dt>
                Nguyên nhân
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reason)
            </dd>

            <dt>
                Chấp thuận
            </dt>

            @if (Model.Approved == true)
            {
                <dd>
                    Có
                </dd>
            }
            else
            {
                <dd>
                    Không
                </dd>
            }

            <dt>
                Loại nghỉ phép
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Leave_type)
            </dd>

        </dl>
    </div>
</div>

<p>
    <div class="row">
        @Html.ActionLink("<Quay lại", "Index", null, new { @style = "color: #fff; width: 100px; margin: 0 14px;", @class = "btn btn-primary" })
        @Html.ActionLink("Cập nhật", "Edit", null, new { id = Model.Id }, new { id = Model.Id, @style = "color: #fff; width: 100px", @class = "btn btn-primary" })
    </div>
</p>