@model IEnumerable<PersonManager.Areas.Admin.Models.LeaveViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách nghỉ phép
    </div>
    @Html.ActionLink("Tạo mới", "Create", null, new { @style = "color: #fff; width: 100px; margin: 16px", @class = "btn btn-primary" })
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        Mã nhân viên
                    </th>
                    <th>
                        Ngày nghỉ
                    </th>
                    <th>
                        Nguyên nhân
                    </th>
                    <th>
                        Chấp thuận
                    </th>
                    <th>
                        Loại nghỉ phép
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Mã nhân viên
                    </th>
                    <th>
                        Ngày nghỉ
                    </th>
                    <th>
                        Nguyên nhân
                    </th>
                    <th>
                        Chấp thuận
                    </th>
                    <th>
                        Loại nghỉ phép
                    </th>

                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leave_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    @if (@item.Approved == true)
                    {
                        <td>
                            Có
                        </td>
                    }
                    else
                    {
                        <td>
                            Không
                        </td>
                    }
                    <td>
                        @item.Leave_type
                    </td>

                    <td>
                        @Html.ActionLink("Cập nhật", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>