@model IEnumerable<PersonManager.Areas.Admin.Models.AttendanceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách chấm công
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        Ngày
                    </th>
                    <th>
                        Mã nhân viên
                    </th>

                    <th>
                        Thời gian vào
                    </th>
                    <th>
                        Thời gian ra
                    </th>
                    <th>
                        Giờ làm thêm
                    </th>
                    <th>
                        Trạng thái
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Ngày
                    </th>
                    <th>
                        Nhân viên
                    </th>

                    <th>
                        Thời gian vào
                    </th>
                    <th>
                        Thời gian ra
                    </th>
                    <th>
                        Giờ làm thêm
                    </th>
                    <th>
                        Trạng thái
                    </th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @{
                            var date = item.Date.HasValue ? item.Date.Value.ToString("M/d/yyyy") : "";
                        }
                        @Html.DisplayFor(modelItem => date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Check_in_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Check_out_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Overtime_hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>