@model PersonManager.Areas.Admin.Models.HolidayViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body" style="background-color: var(--bs-card-cap-bg)">Thông tin chi tiết</div>
    <div class="card-footer d-flex align-items-center justify-content-between" style="background-color: #fff">
        <dl class="dl-horizontal">
            <dt>
                Ngày nghỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Holiday_date)
            </dd>

            <dt>
                Mô tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Số ngày nghỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Days_off)
            </dd>

        </dl>
    </div>
</div>

<p>
    <div class="row">
        @Html.ActionLink("<Quay lại", "Index", null, new { @style = "color: #fff; width: 100px; margin: 0 14px;", @class = "btn btn-primary" })
        @Html.ActionLink("Cập nhật", "Edit", null, new { id = Model.Id }, new { id = Model.Id, @style = "color: #fff; width: 100px", @class = "btn btn-primary" })
    </div>
</p>