@model IEnumerable<PersonManager.Areas.Admin.Models.ContractViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Danh sách hợp đồng
    </div>
    @Html.ActionLink("Tạo mới", "Create", null, new { @style = "color: #fff; width: 100px; margin: 16px", @class = "btn btn-primary" })
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Loại hợp đồng</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Loại hợp đồng</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)

                        </td>
                        <td>

                            @{
                                var date = item.StartDate.HasValue ? item.StartDate.Value.ToString("M/d/yyyy") : "";
                            }
                            @Html.DisplayFor(modelItem => date)
                        </td>
                        <td>
                            @{
                                var EndDate = item.EndDate.HasValue ? item.EndDate.Value.ToString("M/d/yyyy") : "";
                            }
                            @Html.DisplayFor(modelItem => EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>