@model PersonManager.Areas.Admin.Models.SalaryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lương cơ bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>

        <dt>
            Phụ cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowance)
        </dd>

        <dt>
            Hệ số
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coefficient)
        </dd>

        <dt>
            Tiền công theo giờ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>

        <dt>
            Mã nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
